<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css" media="screen"/>
    <title>Barocert SpringBoot Example</title>
</head>
<body>
<div id="content">
    <p class="heading1">카카오 본인인증 상태확인 API SpringBoot Example</p>
    <br/>
    <fieldset class="fieldset1">
        <legend th:text="${#request?.requestURL}"></legend>
        
        <fieldset class="fieldset2">
            <ul>
                <li>ReceiptID (접수 아이디) : <span th:text="${result.receiptID}"></span></li>
                <li>ClientCode (이용기관 코드) : <span th:text="${result.clientCode}"></span></li>
                <li>State (상태) : <span th:text="${result.state}"></span></li>
                <li>RequestDT (서명요청일시) : <span th:text="${result.requestDT}"></span></li>
                <li>ViewDT (서명조회일시) : <span th:text="${result.viewDT}"></span></li>
                <li>CompleteDT (서명완료일시) : <span th:text="${result.completeDT}"></span></li>
                <li>ExpireDT (서명만료일시) : <span th:text="${result.expireDT}"></span></li>
                <li>VerifyDT (서명검증일시) : <span th:text="${result.verifyDT}"></span></li>
            </ul>
        </fieldset>
        
    </fieldset>
</div>
</body>
</html>
