<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css" media="screen"/>
    <title>Barocert Kakaocert Service SpringBoot Example</title>
</head>
<body>
<div id="content">
    <p class="heading1">Response</p>
    <br/>
    <fieldset class="fieldset1">
        <legend th:text="${#request?.requestURL}"></legend>
        
        <fieldset class="fieldset2">
            <ul>
                <li>접수 아이디 (ReceiptID) : <span th:text="${result.receiptID}"></span></li>
                <li>이용기관 코드 (ClientCode) : <span th:text="${result.clientCode}"></span></li>
                <li>상태 (State) : <span th:text="${result.state}"></span></li>
                <li>요청 만료시간 (ExpireIn) : <span th:text="${result.expireIn}"></span></li>
                <li>이용기관 명 (CallCenterName) : <span th:text="${result.callCenterName}"></span></li>
                <li>이용기관 연락처 (CallCenterNum) : <span th:text="${result.callCenterNum}"></span></li>
                <li>인증요청 메시지 제목 (ReqTitle) : <span th:text="${result.reqTitle}"></span></li>
                <li>인증분류 (AuthCategory) : <span th:text="${result.authCategory}"></span></li>
                <li>복귀 URL (ReturnURL) : <span th:text="${result.returnURL}"></span></li>
                <li>원문 구분 (TokenType) : <span th:text="${result.tokenType}"></span></li>
                <li>서명요청일시 (RequestDT) : <span th:text="${result.requestDT}"></span></li>
                <li>서명조회일시 (ViewDT) : <span th:text="${result.viewDT}"></span></li>
                <li>서명완료일시 (CompleteDT) : <span th:text="${result.completeDT}"></span></li>
                <li>서명만료일시 (ExpireDT) : <span th:text="${result.expireDT}"></span></li>
                <li>서명검증일시 (VerifyDT) : <span th:text="${result.verifyDT}"></span></li>
                <li>앱스킴 (Scheme)[AppToApp 앱스킴 호출용] : <span th:text="${result.scheme}"></span></li>
                <li>앱사용유무 (AppUseYN) : <span th:text="${result.appUseYN}"></span></li>
            </ul>
        </fieldset>
        
    </fieldset>
</div>
</body>
</html>
