<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css" media="screen"/>
    <title>Barocert SpringBoot Example</title>
</head>
<body>
<div id="content">
    <p class="heading1">네이버 전자서명(복수) 검증 API SpringBoot Example</p>
    <br/>
    <fieldset class="fieldset1">
        <legend th:text="${#request?.requestURL}"></legend>
        <ul>
            <li>ReceiptID (접수 아이디) : <span th:text="${result.receiptID}"></span></li>
            <li>State (상태) : <span th:text="${result.state}"></span></li>
            <li>ReceiverName (수신자 성명) : <span th:text="${result.receiverName}"></span></li>
            <li>ReceiverYear (수신자 출생년도) : <span th:text="${result.receiverYear}"></span></li>
            <li>ReceiverDay (수신자 출생월일) : <span th:text="${result.receiverDay}"></span></li>
            <li>ReceiverHP (수신자 휴대폰번호) : <span th:text="${result.receiverHP}"></span></li>
            <li>ReceiverGender (수신자 성별) : <span th:text="${result.receiverGender}"></span></li>
            <li>ReceiverEmail (수진자 이메일) : <span th:text="${result.receiverEmail}"></span></li>
            <li>ReceiverForeign (외국인 여부) : <span th:text="${result.receiverForeign}"></span></li>
            <th:block th:each="multiSignedData : ${result.multiSignedData}">
            	<li>MultiSignedData (전자서명 데이터 전문) : <span th:text="${multiSignedData}"></span></li>
            </th:block>
            <li>Ci (연계정보) : <span th:text="${result.ci}"></span></li>
        </ul>
    </fieldset>
</div>
</body>
</html>